Flask==1.1.1
RWAPIMicroservicePython==1.0.0
requests==2.23.0
Werkzeug==1.0.1
earthengine-api==0.1.232
redis==3.5.3
google-cloud-storage==1.18.0
urllib3==1.25.8
oauth2client==4.0.0
google-api-python-client==1.12.8
