apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: gee-tiles
  name: gee-tiles
spec:
  revisionHistoryLimit: 0
  template:
    metadata:
      annotations:
        chaos.alpha.kubernetes.io/enabled: "true"
      labels:
        name: gee-tiles
    spec:
      containers:
      - name: gee-tiles
        image: vizzuality/gee-tiles
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "0.5"
            memory: "256M"
          limits:
            cpu: "1"
            memory: "512M"
        args:
          - start
        env:
          - name: PORT
            value: "5700"
          - name: ENVIRONMENT
            value: staging
          - name: LOCAL_URL
            value: http://gee-tiles.default.svc.cluster.local:5700
          - name: CT_URL
            valueFrom:
                secretKeyRef:
                  name: mssecrets
                  key: CT_URL
          - name: CT_TOKEN
            valueFrom:
                secretKeyRef:
                  name: mssecrets
                  key: CT_TOKEN
          - name: CT_REGISTER_MODE
            valueFrom:
                secretKeyRef:
                  name: mssecrets
                  key: CT_REGISTER_MODE
          - name: API_VERSION
            valueFrom:
                secretKeyRef:
                  name: mssecrets
                  key: API_VERSION
          - name: GCLOUD_STORAGE
            valueFrom:
                secretKeyRef:
                  name: mssecrets
                  key: GCLOUD_BACKUPS_CREDENTIALS
          - name: EE_PRIVATE_KEY
            valueFrom:
                secretKeyRef:
                  name: mssecrets
                  key: EE_PRIVATE_KEY
          - name: REDIS_URL
            valueFrom:
                secretKeyRef:
                  name: dbsecrets
                  key: GEE_TILES_REDIS_URI
          - name: GOOGLE_APPLICATION_CREDENTIALS
            value: /opt/geetiles/storage.json
          

        ports:
          - containerPort: 5700

      restartPolicy: Always
